.hero-area{
    background-image: url(../img/hero-bg.jpg);
    background-color: #2F97F6;
    background-size: cover;
    background-position: center;
    color: #fff;
    line-height: 1.6;
    padding: 80px 0;

}
.main-menu ul li a:hover{
    color: #06D6A0;
}
.hero-area h1 {
    color: #fff;
    font-size: 50px;
    margin: 50px 0 10px;
}
.boxed-btn, input[type="submit"], button[type="submit"]{
    background-color: #06d6a0;
}
.service-icon {
    color: #2e99f7;
    margin-bottom: 15px;
}

.testimonial-carousel .owl-dots div.active{
     background: #45BD98
}

